*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.footerFixed{
    position: absolute;
    color: black;
    transition: all 0.3s;
    transition-delay: 0.3s;
}

.loader{
    height: 40vh;
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.loader span{
    position: absolute;
    border: 2px solid #25c85c;
    width: 100%;
    height: 100%;
    animation: animate 5s linear infinite;
}

.loader span:nth-child(1){
    border-radius: 83% 17% 17% 83% / 50% 14% 86% 50% ;
}

.loader span:nth-child(2){
    animation-direction: reverse;
    border-radius: 30% 70% 17% 83% / 79% 14% 86% 21% ;
}

.loader span:nth-child(3){
    animation-delay: 0.4s;
    border-radius: 40% 60% 51% 49% / 98% 14% 86% 2% ;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.loaded{
    opacity: 0;
    transition: all 0.3s;
}